body {background-color: lightblue;}
	    h2 {color: green;
	    	text-align: center;
}
	    	.martinfirst {background-color: orange;
	    		width: 47%;
	    		display: inline-block;
	    		border-style: solid;
	    		width: 400px;
	    	}
	    	.martinsecond {background-color: chocolate;
	    		width: 47%;
	    		display: inline-block;
	    		border-style: solid;
	    		width:400px;
	    	}
	    	.Martin{background-color: red;
	    		border-width: 5px;

	    	}
.Lesson{
background-color: yellow;
}
.NET{
color: green ;
background-color: black;
}
